/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

input.form-control {
  border-color: #6c757d; /* Cambia el color del borde aquí (gris oscuro en este caso) */
}
select.form-control {
  border-color: #6c757d; /* Borde gris oscuro para los selects */
  /* Otros estilos para los selects si lo deseas */
}
textarea.form-control {
  border-color: #6c757d;
}
span.form-control {
  border-color: #6c757d;
}
/* hr{
    color:  #2F4BCE;
    background-color:  #2F4BCE;
    border: 1px solid;
  } */
button {
  /* Agrega aquí los estilos que desees */
  /* Por ejemplo: */
  /* background-color: rgb(15, 210, 142);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 999px; */
}
/* 
  color pagina oficial de kpaz 

  Navbar
  #2F4BCE
   */
/* h1, h2, h3, h4, h5, h6 {
    color: #2F4BCE;
  } */
h4,
h6,
h5 {
  color: #2f4bce;
}
.form-check-input {
  border: 1px solid #2f4bce;
  cursor: pointer;
}

.form-check-label {
  cursor: pointer; /* Change cursor to pointer when hovering over the label */
  padding-left: 5px; /* Add left padding for better click area */
}
footer {
  background-color: #151d37;
  padding: 20px 0;
  box-sizing: border-box;
}
.main-content {
  flex: 1;
}
.page-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



.placeholder {
 /* Color de fondo del esqueleto */
  display: block;
  margin: 6px 0;
  animation: loading 1s infinite;
  display: inline-block;
}

@keyframes loading {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
}


.custom-checkbox {
  cursor: pointer;
}

.custom-checkbox:checked {
  /* Añadir estilos para cuando el checkbox está marcado */
}

.custom-checkbox:hover:checked {
  /* cursor: pointer; */
  /* Añadir estilos para cuando el checkbox está marcado y el cursor está sobre él */
}

.custom-checkbox.disabled {
   /* Ajusta la opacidad para cuando está deshabilitado */
  pointer-events: none; /* Evita eventos de puntero cuando está deshabilitado */
}
/* CSS para el esqueleto */
.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.error-message {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}