@import "~bootstrap/dist/css/bootstrap.min.css";

  input.form-control {
    border-color: #6c757d; /* Cambia el color del borde aquí (gris oscuro en este caso) */
  }
  select.form-control {
    border-color: #6c757d; /* Borde gris oscuro para los selects */
    /* Otros estilos para los selects si lo deseas */
  }
  button {
    /* Agrega aquí los estilos que desees */
    /* Por ejemplo: */
    /* background-color: rgb(15, 210, 142);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 999px; */
    
  }
  /* 
  color pagina oficial de kpaz 

  Navbar
  #2F4BCE
   */
   /* h1, h2, h3, h4, h5, h6 {
    color: #2F4BCE;
  } */
  h6 ,h5{
    color: #2F4BCE;
  }
  .form-check-input {
    border: 1px solid #2F4BCE;
  cursor: pointer; 
  }
    
    .form-check-label {
      cursor: pointer; /* Change cursor to pointer when hovering over the label */
      padding-left: 5px; /* Add left padding for better click area */
    }
